<!--
USED FOR TESTING LINKS, ROUTES DON'T WORK ON LOCAL FILES
-->

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Tyler Frasca</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="bootstrap.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="routes.js"></script>

</head>

<body ng-app="portfolio">

<div class="container">
  <div class="jumbotron text-center">
    <h1>Tyler Frasca</h1>
  </div>
  <div ng-controller="TabController as TabCtrl">
    <ul class="nav-justified nav-pills">

      <li ng-repeat="tab in TabCtrl.tabs" ng-click="TabCtrl.setTab($index)" ng-class="{active:TabCtrl.isSet($index)}">
      <a href={{tab.URL}}>{{tab.label}}</a></li>

    </ul>
  </div>
</div>

<br><br>

<div class="container" ng-controller="ProjectsController as ProjectCtrl">
  <div ng-repeat="project in ProjectCtrl.projects" style="border-bottom-width: 1px; border-bottom-color: #c4b4ab; border-bottom-style: solid;"> 
  <br>
  <div>
    <h2 style="display: inline">{{project.name}}</h2>   
    <h2 style="display: inline"><a href={{project.link}}>{{project.link}}</a></h2>
    <h4>{{project.description}}</h4>
    <img src={{project.picture}} style="padding-top: 5px; padding-bottom: 5px;">
  </div>
  <br>
    <h4 style="display: inline-block">Goal(s): </h4>

    <ul class="nav nav-pills" style="display: inline-block;">
      <li class="goal" ng-repeat="goal in project.goals">{{goal}}</li>
    </ul><br>

    <h4 style="display: inline-block">TODO: </h4>

    <ul class="nav nav-pills" style="display: inline-block;">
      <li class="todo" ng-repeat="todo in project.todos">{{todo}}</li>
    </ul><br>

    <h4 style="display: inline-block">Language(s): </h4>
    <ul class="nav nav-pills" style="display: inline-block;">
      <li class="language" ng-repeat="language in project.languages">{{language}}</li>
    </ul>
    <br><br>
  </div>
</div>

</body>
</html>