<!--
USED FOR TESTING LINKS, ROUTES DON'T WORK ON LOCAL FILES
-->

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Tyler Frasca</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="bootstrap.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="routes.js"></script>

</head>

<body ng-app="portfolio">

<div class="container">
  <div class="jumbotron text-center">
    <h1>Tyler Frasca</h1>
  </div>
  <div ng-controller="TabController as TabCtrl">
    <ul class="nav-justified nav-pills">

      <li ng-repeat="tab in TabCtrl.tabs" ng-click="TabCtrl.setTab($index)" ng-class="{active:TabCtrl.isSet($index)}">
      <a href={{tab.URL}}>{{tab.label}}</a></li>

    </ul>
  </div>
</div>

<br><br>

<div class="container" ng-controller="ProjectsController as ProjectCtrl">
  <h2>About Me</h2>
  <img src="pages/pictures/home3.PNG">
  <h4>I'm currently pursuing Bachelors of Science in Computer Science and Engineering at the University of Nevada, Reno minoring in Mathematics and Cyber Security.</h4>
  <h4>I have a strong passion for coding (really all things computers) and am always eager to learn something new.</h4>
  <h4>Along with my love for coding, I enjoy hiking and biking around the beautiful hills of Tahoe and Truckee.</h4>
</div>

</body>
</html>