<!--
USED FOR TESTING LINKS, ROUTES DON'T WORK ON LOCAL FILES
-->

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Tyler Frasca</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="bootstrap.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="routes.js"></script>

</head>

<body ng-app="portfolio">

<div class="container">
  <div class="jumbotron text-center">
    <h1>Tyler Frasca</h1>
  </div>
  <div ng-controller="TabController as TabCtrl">
    <ul class="nav-justified nav-pills">

      <li ng-repeat="tab in TabCtrl.tabs" ng-click="TabCtrl.setTab($index)" ng-class="{active:TabCtrl.isSet($index)}">
      <a href={{tab.URL}}>{{tab.label}}</a></li>

    </ul>
  </div>
</div>

<br><br>

<div class="container" ng-controller="ProjectsController as ProjectCtrl">
  <div ng-repeat="project in ProjectCtrl.projects">
    <h2 style="display: inline">{{project.name}}</h2>   
    <h2 style="display: inline"><a href={{project.link}}>{{project.link}}</a></h2>
    <h4>{{project.description}}</h4>
    <img src={{project.picture}} style="padding-top: 5px; padding-bottom: 5px;">
    <!--TODO: Pictures for Projects-->
    <h4>Goal(s): {{project.goals}}.</h4>
    <h4>Languages(s):
      <span ng-repeat="language in project.languages"> {{language}} </span>
    </h4>
    <br><br>
  </div>

  <h2>Ionic iOS App (Reddit API)</h2>

  <h2>Jailbreak Tweaks</h2>

  <h2>Drain (Unity Game)</h2>

  <h2>Zanzibrrr (Halo 2 Mod)</h2>

  <h2>Drain (Unity Game)</h2>
</div>

</body>
</html>