* {
	font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
}

.top {
#	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    background: #434343;
    color: #48C5EE;
	text-shadow: -1px 0 #434343, 0 1px #1B1B1B, 1px 0 #1B1B1B, 0 -1px #434343;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
	border: solid;
	border-width: 1px;
    border-radius: 10px;
	border-color: #48C5EE;
}

.sub {
#	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    background: #434343;
    color: #93FF6E;
	text-shadow: -1px 0 #434343, 0 1px #1B1B1B, 1px 0 #1B1B1B, 0 -1px #434343;
    text-align: center;
	display: inline-block;
    padding-top: 1px;
    padding-bottom: 1px;
	width: 500px;
	border: solid;
	border-width: 1px;
    border-radius: 10px;
	border-color: #93FF6E;
}

#title{
	#border-color: #434343;
}

#subtitle{
	border-color: #FF8533;
}

#block{
    text-align: center;
	position: inline-block;
#	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    background: #595F61;'
	padding-top: 100px;
}

.tab {
    color: #93FF6E;
    font-size: 200%;
	margin-left: auto;
	display: inline-block;
    padding-top: 55px;
    padding-left: 50px;
    padding-right: 50px;
	margin-left: 2px;
	margin-right: 2px;
    width: 77px;
	border: solid;
    border-radius: 10px;
	border-color: #48C5EE;
	border-width: 1px;
    background: #434343;
	cursor: pointer;
	cursor: hand;
  #  text-shadow: 1px 1px #99E6FF; 
}

#dot {
	background: #93FF6E;
	display: inline-block;
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 1000px;
	border: solid;
	border-width: 5px;
	border-color: #C8FFAD;
}

.highlight {
#	color: #595F61;
#    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	border-color: #48C5EE #48C5EE #93FF6E #48C5EE;
#	border-width: 1px;
}

.selected {
	border-color: #93FF6E #93FF6E #93FF6E #93FF6E;
}

a{
	color: #93FF6E;
#	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
	text-decoration: none;
	text-shadow: -1px 0 #434343, 0 1px #1B1B1B, 1px 0 #1B1B1B, 0 -1px #434343;
}

#blue -- #FF751A
#orange -- #FF8533
#green -- #93FF6E


