<div class="container" ng-controller="SkillsController as SkillCtrl">

<button ng-show="SkillCtrl.languagesShowing" ng-click="SkillCtrl.toggleShowing('languages')" style="border: none; background: none; height: 35px; width: 35px; display: inline-block;">
  <img src="pages/icons/arrow-right.png">
  </button>
<button ng-show="!SkillCtrl.languagesShowing" ng-click="SkillCtrl.toggleShowing('languages')" style="border: none; background: none; height: 35px; width: 35px; display: inline;">
  <img src="pages/icons/arrow-down.png">
</button>
<h2 style="display: inline-block;">Languages and Frameworks</h2>
<table class="table table-responsive" ng-show="SkillCtrl.languagesShowing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Library</th>
      <th></th>
      <th>Skill Level</th>
    </tr>
  </thead>
  <tbody ng-repeat="language in SkillCtrl.languages">
<!--TODO: link each language to the projects they're used in on Portfolio page w/ new column-->
    <tr class="info">
      <td>{{language.name}}</td>
      <td></td>
      <td></td>
      <td>{{language.skillLevel}}</td>
    </tr>
    <tr ng-repeat="library in language.libraries">
      <td></td>
      <td>{{library.name}}</td>
      <td></td>
      <td>{{library.skillLevel}}</td>
    </tr>
  </tbody>
</table><br><br>

<button ng-show="SkillCtrl.softwareShowing" ng-click="SkillCtrl.toggleShowing('software')" style="border: none; background: none; height: 35px; width: 35px; display: inline;">
  <img src="pages/icons/arrow-right.png">
  </button>
<button ng-show="!SkillCtrl.softwareShowing" ng-click="SkillCtrl.toggleShowing('software')" style="border: none; background: none; height: 35px; width: 35px; display: inline;">
  <img src="pages/icons/arrow-down.png">
</button>
<h2 style="display: inline-block;">Software and Development</h2>
<table class="table table-responsive" ng-show="SkillCtrl.softwareShowing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Skill Level</th>
    </tr>
  </thead>
  <tbody ng-repeat="warez in SkillCtrl.software">
<!--TODO: link each language to the projects they're used in on Portfolio page w/ new column-->
    <tr class="info">
      <td>{{warez.name}}</td>
      <td>{{warez.skillLevel}}</td>
    </tr>
    <tr ng-repeat="version in warez.libraries">
      <td>{{version.name}}</td>
      <td>{{version.skillLevel}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
